@model SpecFlowDemo.Models.BillableHours

@{
    ViewBag.Title = "Detaljer";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kommentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kommentar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>
